body {
    background-color: #8F8F8F;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#MainCalcu {
    width: 18%;
    height: 320px;
    background-color: transparent;
    display: none;
}

#SonaBotones {
    background-color: #212222;
    width: 100%;
    height: 5%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0;
    /* Posicionamos la cabecera al lado izquierdo */
    top: 0;
    /* Posicionamos la cabecera pegada arriba */
}

.resultBox {
    /* 	height: 28%; */
    width: 100%;
    background: #212222;
}

.calcButtons {
    height: 69%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: black;
}

.calcButton {
    height: 20%;
    /* flex-grow: 1; */
    width: 25%;
    align-items: center;
    /* 	display: flex; */
    justify-content: center;
    font-size: 26px;
    border: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    outline: 0;
    font-weight: 100;
}

.button0 {
    flex-grow: 2;
}

.calcButton.orange {
    background: orange;
    color: white;
}

.calcButton.darkgrey {
    background: #DCDCDC;
}

.calcButton.lightgrey {
    background: #F0F8FF;
}

#calcOutput {
    text-align: right;
    font-size: 65px;
    color: white;
    padding-top: 40px;
    padding-right: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.subSymbol {
    letter-spacing: -4px;
}

.fa-rotate-45 {
    transform: rotate(45deg);
}

.calcButton.lightgrey:active {
    background: #DCDCDC;
}

.calcButton.orange:active {
    border: 1px solid black;
    background: #cc8400;
}

#SonaBotones img {
    cursor: pointer;
}

#rojo {
    margin-left: 5%;
}